<form>


    <div class="form-group">
					<label for="name">1. Ваше прізвище, ім'я, по- батькові (в родовому відмінку) </label>
					<input id="name" name="name" class="form-control">
		</div>
  
  <div class="form-group">
					<label for="email">2. Email</label>
					<input id="email" class="form-control" name="email">
	</div>
 	<div class="form-group">
					<label for="department">3. Вкажіть відділ та посаду за сумісництвом (за наявності)</label>
					<input id="department" class="form-control" name="department">
      </div>

    <div class="form-group">
					  <label for="typeTrip">4. Вкажіть тип відрядження</label>
            </div>
            <div class="form-group">
					  <input type="radio" id="typeTrip"  name="typeTrip" >
            <label for="ukraine">Відрядження по Україні</label>
            </div>
            <div class="form-group">
            <input type="radio" id="typeTrip"  name="typeTrip" >
            <label for="abroad">Відрядження закордон</label>
     </div>

     <div class="form-group">
					  <label for="purpose">5. Вкажіть мету відрядженняя</label>
            </div>
            <div class="form-group">
					  <input type="radio" id="purpose"  name="purpose" >
            <label for="academic">З метою реалізації права на академічну мобільність відповідно до Постанови Кабінету Міністрів України від 12.08.2019 р. №579</label>
     </div>

     <div class="form-group">
            <input type="radio" id="purpose"  name="purpose" >
            <label for="intership">проходження стажування</label>
      </div>
      <div class="form-group">
            <input type="radio" id="purpose"  name="purpose" >
            <label for="lectures">для викладу лекційного курсу</label>
      </div>
      <div class="form-group">
            <input type="radio" id="purpose"  name="purpose" >
            <label for="project">участь в проектній зустрічі</label>
      </div>
      <div class="form-group">
            <input type="radio" id="purpose"  name="purpose" >
            <label for="training">участь у тренінгу</label>
      </div>
      <div class="form-group">
            <input type="radio" id="purpose"  name="purpose" >
            <label for="other">Інше:</label>
            <input id="purpose"  name="purpose" >
      </div>
       <div class="form-group">
					  <label for="salary">6. Вкажіть вид збереження заробітної плати</label>
      </div>
      <div class="form-group">
					  <input type="radio" id="salary"  name="salary" >
            <label for="main">зі збереженням середньої зарплати за основним місце праці</label>
      </div>
      <div class="form-group">
            <input type="radio" id="salary"  name="salary" >
            <label for="additional">зі збереженням середньої зарплати за основним місцем праці та за сумісництвом</label>
     </div>
            <div class="form-group">
            <input type="radio" id="salary"  name="salary" >
            <label for="without">без збереження заробітної плати (тривалість відрядження більше 10-ти днів</label>
     </div>
     <div class="form-group">
					<label for="city">7. Вкажіть місто відрядження </label>
					<input id="city" class="form-control" name="city" >
     </div>
       <div class="form-group">
					<label for="country">8. Вкажіть країну відрядження (для закордонного відрядження)     </label>
					<input id="country" class="form-control" name="country" >
      </div> 
      <div class="form-group">
					  <label for="institution">9. Вкажіть установу, куди відряджаєтесь</label>
            </div>
            <div class="form-group">
					  <input type="radio" id="institution"  name="institution" >
            <label for="minEd">Міністерство освіти і науки України</label>
            </div>
            <div class="form-group">
            <input type="radio" id="institution"  name="institution" >
            <label for="other">Інше:</label>
            <input id="institution"  name="institution" >
       </div>

       <div class="form-group">
					  <label for="startDate"> 10. Вкажіть дату початку відрядження</label>
            <input type="date" id="startDate"  name="startDate" >
       </div>
        

       <div class="form-group">
					  <label for="endDate">11. Вкажіть дату завершення відрядженняь</label>
            <input type="date" id="endDate"  name="endDate" >
       </div>

       <div class="form-group">
					<label for="destination">12. Вкажіть маршрут поїздки (для відряджень по Україні). Наприклад: Львів-Київ-Львів</label>
					<input id="destination" class="form-control" name="destination">
      </div>
      <div class="form-group">
					  <label for="transportetion">13. Вкажіть транспорт, яким будете подорожувати (для відряджень по Україні).</label>
					  <input type="checkbox" id="transportetion"  name="transportetion" >
            <label for="train">Залізничий</label>
            </div>
            <div class="form-group">
            <input type="checkbox" id="transportetion"  name="transportetion" >
            <label for="car">Автомобільний</label>
            </div>
            <div class="form-group">
            <input type="checkbox" id="transportetion"  name="transportetion" >
            <label for="fly">Літак</label>
            </div>
            <div class="form-group">
            <input type="checkbox" id="transportetion"  name="transportetion" >
            <label for="other">Інше:</label>
            <input id="transportetion"  name="transportetion" >
            </div>
            
        <div class="form-group">
					  <label for="paiment">14. Вкажіть, як буде здійснюватись оплата видатків на відрядження</label>
            </div>
            <div class="form-group">
					  <input type="radio" id="paiment"  name="paiment" >
            <label for="own">за власний кошт/ за рахунок приймаючої сторони</label>
            </div>
            <div class="form-group">
            <input type="radio" id="paiment"  name="paiment" >
            <label for="faculty">витрати на проїзд, добові за рахунок коштів факультету відповідно до кошторису</label>
            </div>
            <div class="form-group">
            <input type="radio" id="paiment"  name="paiment" >
            <label for="uni">витрати на проїзд, добові за рахунок коштів університету відповідно до кошторису</label>
            </div>
            <div class="form-group">
            <input type="radio" id="paiment"  name="paiment" >
            <label for="other">Інше:</label>
            <input id="paiment"  name="paiment" >
            </div>




        <div class="form-group">
					  <label for="goal">15. Вкажіть підставу відрядження.</label></div>
            <div class="form-group">
					  <input type="checkbox" id="goal"  name="goal" >
            <label for="invite">Запрошення</label>
            </div>
            <div class="form-group">
            <input type="checkbox" id="goal"  name="goal" >
            <label for="protocol">Витяг з протоколу засідання Вченої Ради факультету</label>
            </div>
            <div class="form-group">
            <input type="checkbox" id="goal"  name="goal" >
            <label for="report">Рапорт проректора</label>
            </div>
            <div class="form-group">
            <input type="checkbox" id="goal"  name="goal" >
            <label for="other">Інше:</label>
            <input id="goal"  name="goal" >
            </div>      


        <div class="form-group">
					  <label for="verification">16. Про зміни у суттєвих умовах відрядження (дострокового повернення, зміні дати повернення) повідомити працівників відділу кадрів в найкоротший термін на електронну пошту vk101dok@gmail.com</label>
            </div>
            <div class="form-group">
					  <input type="radio" id="verification"  name="verification" >
            <label for="submiting">Зобов'язуюсь повідомити</label>
            </div>

	<button type="submit" class="btn btn-default">Submit</button>

		




</form>
