<div class="stepsContainer">


<div class="stepCircle" [ngStyle]="{'background': stepOne ? 'green':'lightgrey'}">
  1
</div>

<div class="stepConectorPiece" [ngStyle]="{'background': stepOne ? 'green':'lightgrey'}"></div>

<div class="stepCircle" [ngStyle]="{'background': stepTwo ? 'green' : 'lightgrey'}">
  2
</div>

<div class="stepConectorPiece" [ngStyle]="{'background': stepTwo ? 'green' : 'lightgrey'}"></div>


<div class="stepCircle" [ngStyle]="{'background': stepThree ? 'green':'lightgrey'}">
  3
</div>
</div>